<div class="wrapper">
    <div class="sidebar">
        <h1 class="logo"><i class="fa fa-google-wallet"></i> Smartbiz</h1>
        <ul class="navigation">
            <li><a href="" [routerLink]="['/dashboard']" routerLinkActive="active" ><i class="fa fa-fw fa-connectdevelop"></i> dashboard</a></li>
            <li><a href="" [routerLink]="['/employee']" routerLinkActive="active"><i class="fa fa-fw fa-users"></i> employee</a></li>
            <li><a href="" [routerLink]="['/profile']" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> profile</a></li>
            <li><a href="" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> logout</a></li>
        </ul>
    </div>
    <div class="mainbar">
        <div class="header">
            <div class="search">
                
            </div>
            <div class="user-box">
                Welcome back {{userCurrent}}
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>