.wrapper{
    display: flex;
    flex-direction: row;
}
.wrapper .sidebar{
    width: 230px;
    height: 100vh;
}
.wrapper .sidebar .logo{
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 23px;
    color: #1976D2;
    padding: 15px;
}
.wrapper .sidebar h1{
    padding: 0;
    margin: 0;
}
.wrapper .mainbar{
    flex: 1;
    background: url('~/assets/background-main.jpg') no-repeat center center scroll;
    background-size: cover;
}

.navigation{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li{
    display: block;
    border-bottom: 1px solid #ececec;
}
.navigation li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: #0277BD;
    padding: 10px;
}
.navigation li a.active{
    background: #0277BD;
    color: white!important;
}
.navigation li:hover{
    border-left: 5px solid #0277BD;
}

.header{
    display: flex;
    background: white;
    height: 68px;
    align-items: center;
}
.header .search{
    flex: 1;
}
.header .user-box{
    width: 280px;
}
.content{
    padding: 10px 20px;
}
