.background{
    display: block;
    width: 100%;
    height: 100vh;
    background: url('~/assets/background.jpg') no-repeat center center scroll;
    background-size: cover;
}
.loginbox {
    display: block;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0px #00000075;
}
.loginbox h1, .loginbox p{
    margin: 0;
    padding: 0;
}
.box-login{
    padding: 20px 0;
}
.mat-form-field{
    display: block;
}
.mat-hint{
    color: gray;
}
input{
    color: gray;
}
input::placeholder{
    color: gray;
}