<div class="background">
    <div class="loginbox">
        <h1>Smartbiz</h1>
        <p style="color: red;"><small><em>*{{ error }}</em></small></p>
        <div class="box-login">
            <div *ngIf="loading">
                <mat-spinner style="margin: 0 auto;"></mat-spinner>
                <p style="text-align: center;">Wait for a moment ....</p>
            </div>
            <div *ngIf="!loading">
                <mat-form-field appearance="legacy">
                    <mat-label>User name</mat-label>
                    <input matInput placeholder="masukkan username atau email anda" [(ngModel)]="username" required>
                    <mat-hint>* Masukan username anda</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="masukkan password valid anda" [(ngModel)]="password" required>
                    <mat-hint>* Pastikan password anda dengan benar</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button type="submit" (click)="loginAuth()">Login</button>
    </div>
</div>
