.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}
.btn-add{
    cursor: pointer;
    background: white;
    border-radius: 13px;
    float: right;
    padding: 10px;
    font-size: 0.5em;
    text-decoration: none;
    box-shadow: 3px 3px 15px 0 rgba(0,0,0,0.3);
}
.btn-add:hover{
    color: blue;
}
.input-style {
    display: inline-block;
    width: 25%;
}
.input-style label{
    display: block;
    padding-bottom: 5px;
}
.input-style input{
    border: none;
    display: block;
    width: 90%;
    padding: 5px 10px;
    margin-bottom: 10px;
    background: #ececec;
}
.employee-box {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.employee-box p{
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
a.btn-save {
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    background: #2196F3;
    color: white;
}
a.btn-save:hover {
    box-shadow: 3px 3px 15px 1px #00000045;
}
