<div class="title-page">Employee <span><a (click)="dialog = !dialog" class="btn-add"><i class="fa fa-plus"></i> New Employee</a></span></div>

<div class="dialog-modal" *ngIf="dialog">
  <div class="employee-box">
    <p>Add new employee</p>
    <div *ngIf="loading">
      <mat-spinner style="margin: 0 auto;"></mat-spinner>
      <p style="text-align: center;">Wait for a moment ....</p>
    </div>
    <div *ngIf="!loading">
      <div class="input-style">
        <label>Nomor NIP</label>
        <input type="text" placeholder="nomor nip" [(ngModel)]="fieldNip" required>
      </div>
      <div class="input-style">
        <label>Nama Lengkap</label>
        <input type="text" placeholder="nama lengkap" [(ngModel)]="fieldName" required>
      </div>
      <div class="input-style">
        <label>Panggilan</label>
        <input type="text" placeholder="nama panggilan" [(ngModel)]="fieldNick" required>
      </div>
      <div class="input-style">
        <label>Tanggal Lahir</label>
        <input type="date" [(ngModel)]="fielddate" required>
      </div>
      <div class="input-style">
        <label>Alamat Tempat Tinggal</label>
        <input type="text" placeholder="alamat tempat tinggal" [(ngModel)]="fieldAddress" required>
      </div>
      <div class="input-style">
        <label>Telepon</label>
        <input type="text" placeholder="nomor telepon" [(ngModel)]="fieldPhone" required>
      </div>
      <div class="input-style">
        <label>Mobile</label>
        <input type="text" placeholder="nomor handphone" [(ngModel)]="fieldMobile" required>
      </div>
      <div class="input-style">
        <label>Email</label>
        <input type="text" placeholder="alamat email" [(ngModel)]="fieldEmail" required>
      </div>
    </div>
    <a class="btn-save" (click)="postData()">Save</a>  <span>{{ responsePost }}</span>
  </div>
</div>

<!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 30]"
    showFirstLastButtons>
</mat-paginator> -->

<!-- <ng-template #table>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>

      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'age']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'age'];"></tr>
    </table>
</ng-template> -->