.example-card {
    max-width: 400px;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 0px #00000052;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
.mat-card-subtitle{
    color: gray;
}

.list-user {
    display: flex;
}
.list-user .title-user,
.list-user .title-desk {
    flex: 1;
}