<div class="title-page">Profile</div>
<mat-card class="example-card">
  <div *ngIf="loading">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
    <p style="text-align: center;">Loading ....</p>
  </div>
  <div *ngIf="!loading">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ userData.full_name }}</mat-card-title>
      <mat-card-subtitle>{{ userData.nip }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="list-user">
        <div class="title-user">Nomor Telepon</div>
        <div class="title-desk">: {{ userData.phone }}</div>
      </div>
      <div class="list-user">
        <div class="title-user">Tanggal Lahir</div>
        <div class="title-desk">: {{ userData.birth_date }}</div>
      </div>
      <div class="list-user">
        <div class="title-user">Nama Panggilan</div>
        <div class="title-desk">: {{ userData.nick_name }}</div>
      </div>
      <div class="list-user">
        <div class="title-user">Dibuat Oleh</div>
        <div class="title-desk">: {{ userData.created_by }}</div>
      </div>
    </mat-card-content>

  </div>
</mat-card>