/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.title-page{
    text-transform: uppercase;
    color: rgb(27, 27, 27);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1.4px;
    padding-bottom: 10px;
}
.mat-dialog-container{
    background: #fafafa;
    color: #1f1f1f;
}